
@media all and( max-width: 750px){
    .navbar__btn_burger{
        display: block;
    }

    .header__btn{
        width: 35%;
    }

    .info-block{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
    }

    .info-block__title{
        width: 85%;
    }

    .info-block__btn{
        width: 30%;
    }


}

