body{
    background-color: #19191B;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.container{
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

/* NAVBAR STYLES START */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    width: 10%;
}

.navbar__list{
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 18px;
}

.list__item > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.list__item > a:hover{
    color: #5454d4;
    transition: 0.8s;
}

.navbar__input{
    width: 15%;
    height: 28px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.navbar__btn_burger{
    display: none;
}

/* NAVBAR STYLES END */

/* HEADER START */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.header__block_left{
    width: 40%;
}

.header_left{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

.header__desc_left{
    font-size: 21px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2;
}

.header__btn{
    height: 60px;
    width: 35%;
    background-color: #5454d4;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
}

.btn__arrow{
    margin-left: 8px;
}

.header__block_right{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.vector{
    position: absolute;
}

#vector_1{
    top: 253px;
    left: 1005px;
}

#vector_2{
    top: 749px;
    left: 1000px;
}

#vector_3{
    top: 287px;
    right: 76px;
}

#vector_4{
    top: 778px;
    right: 84px;
}

/* HEADER END */

/* SERVICES BLOCK START */

.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title_maine{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    text-align: center;
    margin: 120px 0 50px;
}

.services__list{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item{
    width: 20%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.services__title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}

.services__desc{
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
}
/* SERVICES BLOCK END */

/* PORTFOLIO START */
.portfolio_title{
    font-size: 58px;
    font-weight: 800;
}

.portfolio_list{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.portfolio__item{
    background-color: #1E1E20;
    border-radius: 15px;
    padding: 1.5%;
    height: min-content;
}

.portfolio__item:nth-child(2){
    margin-top: 90px;
}

.portfolio__item:nth-child(3){
    margin-top: 180px;
}

.portfolio__icon{
    margin-left: 50%;
}
/* PORTFOLIO END */

/* PODVAL START */

.info_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__block_title{
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 60%;
}

.info__block_btn{
    background-color: #5454d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    width: 17%;
}
/* PODVAL END */

/* PODVAL2.0 START */
footer{
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
}

.footer__logo{
    width: 10%;
    height: 40px;
}

.footer__list{
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
}
/* PODVAL2.0 END */

